@import "./normalize.css";
@import "_mixins";
@import "_colors";
@import "_typography";
@import "_globals";

header {
  background: url('../images/masthead_cocktailbar.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  nav {
    background: #000;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 1;
    ul {
      margin: 0 auto;
      max-width: 1024px;
      overflow: hidden;
      li {
        font-size: 11px;
        margin: 0 11px;
        display: inline-block;
        a {
          color: #fff;
          display: inline-block;
          opacity: .5;
          padding: 10px 0;
          text-transform: uppercase;
          text-decoration: none;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  h1 {
    background: url('../images/main_cocktail.png') 0 0 no-repeat;
    height: 80px;
    margin: 0 auto;
    text-indent: -999999px;
    width: 350px;
  }
  .content {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
